@model IEnumerable<EventSite.Models.EventModel>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <center>
            <h1>Upcoming Events</h1>
            <p class="lead">Your source for the best local events</p>
        </center>

        @Html.ActionLink("Create New", "Create", "EventModels")

        <div class="row">
            @foreach (var show in Model)
            {
                <div class="col-md-4" id="eventblock">
                    <img src="~/Images/@show.ImgUrl" alt="Event Image" style="width:300px;height:100px;">
                    <h2>@show.Title</h2>
                    <p>@show.StartDate</p>
                </div>
            }
        </div>
    </div>



